/* body,html{
    margin:0px;
    padding:0px;

}
*{
    box-sizing:border-box;
}
.tool-bar{
    height: 80px;
    background-color: blue;
    display: flex;
}
.stagno{
    height: 143px;
    background-color: red;
    margin-top: 36px;

}
.third{
    height: 66px;
    background-color: aqua;
    margin-top: 21px;
}
.fourth{
    height: 199px;
    background-color: blueviolet;
    margin-top: 24px;
}
.fifth{
    
        height: 50px;
        background-color: brown;
        margin-top: 15px;
} */


.topnav {
  background-color: #FFA500;
  overflow: hidden;
  padding left: 100%;
    width: auto;

}

.topnav a {
  
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  float: right;
}

.topnav a.active {
  background-color: #4CAF50;
  color: white;
}
